.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 2rem;
}

.forumBtn button {
  border: 2px solid var(--text-color-one);
  padding: 1.2rem 3.3rem;
  background-color: var(--page-color-two);
}

.forumBtn button a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color-seven);
  font-weight: 600;
}

.forumBtn button:hover {
  background-color: var(--page-color-two-darker);
  cursor: pointer;
}
