.main {
  display: flex;
  flex-direction: column;
  margin: 2rem 5rem;
  gap: 2rem;
}

.main h2 {
  text-align: center;
}

.featureWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.featureBox {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background-color: var(--page-color-three);
  color: var(--text-color-one);
  padding: 1rem;
  text-align: justify;
  box-shadow: -7px 10px 0 0 var(--page-color-four);
}

.forumLinksWrapper {
  margin-top: 2rem;
  background-color: var(--text-color-one);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.forumLinks {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.forumLink {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  .featureWrapper {
    grid-template-columns: 1fr;
  }
}
